<div *ngIf="loading">Chargement en cours</div>

<ng-container *ngIf="!loading">
    <h1>Mon site</h1>

    <nav>
        <a routerLink="/">Accueil</a>&nbsp;
        <a routerLink="/my-account" *ngIf="isConnected">Mon compte</a>&nbsp;
        <a routerLink="/login" *ngIf="!isConnected">Se connecter</a>&nbsp;
        <a routerLink="/register" *ngIf="!isConnected">Créer un compte</a>&nbsp;
        <a (click)="logout()" *ngIf="isConnected">Se déconnecter</a>&nbsp;
    </nav>
    <p *ngIf="isConnected">
        Bonjour {{currentUser?.username}}
    </p>

    <router-outlet></router-outlet>

</ng-container>
